TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR=${GATW_PUB_IP}
PREFIX=24
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_FAILURE_FATAL=no
NAME=eth1
UUID=e110183f-e6a6-4787-b589-7e12f7795b72
DEVICE=eth1
ONBOOT=yes
