TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR=${GATW_PUB_IP}
PREFIX=${GATW_PUB_PREFIX}
DEFROUTE=yes
GATEWAY=${GATW_PUB_GW}
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_FAILURE_FATAL=no
NAME=eth1
UUID=$(uuidgen eth1)
DEVICE=eth1
ONBOOT=yes
